:root {
	--bg-clr: #0D1117;
	--color: #c9d1d9;
	--fs: 3rem;
	--accent: #21262D;
	--lighter: #242A31;
	--used-letter-bg: #1F6FEB;
	--dimmed: #010409;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-clr);
	color: var(--color);

	position: relative;

	/* Prevents user from selecting text and for it to be highlighted */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	font-family: "Open Sans", "Montserrat", "Arial", sans-serif;
	font-size: var(--fs);
}

.current-gram {
	text-align: center;
	font-weight: bold;

	width: calc(var(--fs) * 2.5);
	height: var(--fs);

	position: fixed;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}

.text-and-plus-score-container {

}

.text-input {
	position: fixed;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;

	min-height: 4rem;
	min-width: 7rem;

	/*border-bottom: 1px solid rgba(0, 0, 0, .5);*/

	text-align: center;
}

.plus-score {
	position: fixed;
	left: 50%;
	bottom: 60%;
	transform: translate(-50%, -50%);
	margin: 0 auto;

/*	min-height: 4rem;
	min-width: 7rem;*/

	/*border-bottom: 1px solid rgba(0, 0, 0, .5);*/

	text-align: center;

	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: .05rem;

	/*opacity: 50%;*/

	/*text-shadow: 0 0 3rem white;*/

}

.fade-up {
	animation: .5s ease fade-up-plus-score
}

@keyframes fade-up-plus-score {
	from {
		text-shadow: 0 0 0rem white;
		transform: translate(-50%, -50%);
		font-size: 1.5rem;
	}

	to {
		text-shadow: 0 0 3rem white;
		transform: translate(-50%, -120%);
		font-size: 1.8rem;
	}
}

.win-lose-text {
	position: fixed;
	left: 50%;
	bottom: 5rem;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}

.alphabet-container {
/*	display: flex;
	gap: 1rem;
	flex-direction: column;*/

	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(7, 3rem); 
	grid-template-rows: repeat(3, 3rem);

	position: fixed;
	left: 50%;
	bottom: 1rem;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}

.letter-wrapper {
	--letter-size: 3rem;

	display: flex;

	justify-content: center;
	align-items: center;

	text-align: center;
	text-transform: uppercase;

	padding: 1rem;
	border-radius: .3rem;
	background-color: var(--used-letter-bg);
	width: var(--letter-size);
	height: var(--letter-size);


}

/* Letters that are highlighted, missing to complete all letters */
.letter-wrapper:not(.used-letter) {
	box-shadow: 0 0 .7rem var(--used-letter-bg);
	animation: 2s ease bounce infinite;
}

@keyframes bounce {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(95%);
	}

	100% {
		transform: scale(100%);
	}
}

.used-letter {
	background-color: var(--accent);
	animation: .5s ease shrink;
	animation-fill-mode: forwards;
}

@keyframes shrink {
	from {
		transform: scale(100%);
	}

	to {
		transform: scale(95%);
	}
	
}

.score {
	z-index: -2;

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;

	font-size: 40rem;

	/*color: var(--dimmed);*/

	opacity: 5%;
}

.underlay {
	z-index: -1;

	pointer-events: none;

	height: 100vh;
}

